<h1> Selected article: </h1>

<p>
  Title: <%= @article.title %>
</p>

<p>
  Description: <%= @article.description %>
</p>

<%= link_to '<button type="button">Edit</button>'.html_safe, edit_article_path(@article) %>
<p></p>
<%= link_to '<button type="button">Back</button>'.html_safe, articles_path %>